@import "intermediate/_shared.scss";

// Mobilish
@media (max-width: $split) {
  .col2 {
    .dec,
    .inc {
      padding: 0;
      display: block;
    }

    .inc {
      text-align: right;
    }
  }
}

div#root {
  height: 100%;
}

.outer {
  max-width: $colmax;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
  display: flex;
  flex-direction: column;
  height: 100%;
}

img#logo_login {
  width: 60%;
  padding: 1cm 20%;
}

div.subheader {
  display: flex;
  justify-content: flex-end;

  & > span {
    padding: 0.5em;

    &.spacer {
      color: $mid_purple;
    }
  }
}

div.subform,
div.submits {
  display: grid;
  grid-template-columns: 18% 64% 18%;
  align-items: center;
  grid-row-gap: 0.5em;
}

img.help {
  height: 1.3em;
  display: block;
  margin-left: auto;
}

div.bar {
  background: gray;
  height: 1px;
  grid-column: 1/4;
  width: 50%;
  justify-self: center;
}

.subform > label {
  grid-column: 1;
  position: relative;
  right: 0;
  font-variant: small-caps;
  text-transform: lowercase;
  justify-self: end;
  padding-right: 10%;
  display: block;
  text-align: right; // justify-self treats text as a block
  color: $dark_green;
}

.subform > label.disabled {
  cursor: pointer;
  grid-column: 2;
  text-align: left;
  justify-self: start;
  padding: 1em 0;
}

.subform > label.disabled::before {
  content: "";
  cursor: pointer;
  vertical-align: middle;
  background-image: url(plus.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left center;
  height: 1.3em;
  width: 1em;
  display: inline-block;
  padding-right: 0.5em;
}

div.subform {
  input[type="text"],
  input[type="password"],
  input[type="number"],
  input[type="datetime-local"],
  textarea,
  div.fieldset,
  .bool,
  div.price_input,
  select {
    grid-column: 2;
    border: none;
    padding: 1em 0 1em 0.5em;
    margin: 0;
    flex-shrink: 1;
  }

  input[type="number"] {
    min-width: 0;
  }

  select {
    background: transparent;
  }

  div.price_input {
    display: flex;

    input[type="number"] {
      flex-grow: 1;
      text-align: right;
    }
  }

  input[type="text"].disabled,
  input[type="password"].disabled,
  input[type="number"].disabled,
  input[type="datetime-local"].disabled,
  textarea.disabled,
  div.fieldset.disabled,
  p.bool.disabled,
  div.price_input.disabled,
  select.disabled {
    display: none;
  }

  .remove {
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    background-image: url(minus.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right center;
    height: 1.3em;
    width: 1em;
    display: inline-block;
    padding-left: 1em;
  }

  .remove.disabled {
    display: none;
  }

  div.fieldset {
    display: flex;
    justify-content: space-around;
  }

  input[type="radio"] {
    display: none;
  }

  input[type="radio"] + label {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 7em;
    height: 100%;
    border: 1px solid white;
    border-radius: 0.1cm;
  }

  input[type="radio"] + label:hover {
    border: 1px solid $light_green;
  }

  input[type="radio"] + label::before {
    content: "";
    height: 2mm;
    width: 2mm;
    background: black;
    margin: 0.5em;
  }

  input[type="radio"]:checked + label {
    border: 1px solid $light_green;
    background: $light_green;
  }
}

div.address {
  display: flex;
  justify-content: space-around;
  align-items: center;
  justify-items: center;
  flex-direction: column;
  padding: 5% 15% 5% 15%;

  a {
    display: block;
    width: 100%;
    height: 100%;
    margin-bottom: 8%;

    img {
      width: 100%;
      height: 100%;
    }
  }

  div {
    display: flex;
    flex-direction: row;
    width: 100%;

    input[type="text"] {
      flex-grow: 1;
      text-overflow: ellipsis;
      border: none;
      background: none;
      margin: 0.25em;
      min-width: 0;
    }

    input[type="submit"] {
      content: "";
      background: none;
      border: 1px solid $dark_green;
      border-radius: 0.1cm;
      color: transparent;
      padding: 0;
      margin: 0.25em;
      display: block;
      height: 2em;
      width: 2em;
      background-image: url(copy.svg);
      background-repeat: no-repeat;
      background-position: center;
    }

    input[type="submit"]:hover {
      border-color: $light_green;
    }
  }
}

div.blank-address {
  @include aspect-ratio(1, 1);
  margin: 5% 15% 5% 15%;
  align-self: stretch;

  & > div {
    display: flex;
    flex-direction: column;
    border: 1px solid #bbbbbb;
    margin: 0.5em;
    padding: 0.5em;
    font-size: 1.5em;
    justify-content: center;
    align-items: center;

    img {
      width: 6em;
    }
  }
}

div.scan {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
}

h1.apptitle {
  position: relative;
  text-align: center;
  width: 80%;
  left: 10%;
  padding: 0.5em 0;
  border-top: 1px solid #bbbbbb;
}

h3.apptitle {
  position: relative;
  text-align: center;
  width: 80%;
  left: 10%;
  padding: 0.5em 0;
  border-top: 1px solid #bbbbbb;
  border-bottom: 1px solid #bbbbbb;

  span {
    left: 2%;
    font-size: 1.1em;
    position: relative;
    text-align: center;
    width: 96%;
    padding: 0.2em 0;
    display: block;
    background: $light_purple;
  }
}

div.message {
  padding: 0.5em;
  border: 1px solid #bbbbbb;
  flex-grow: 1;
  margin: 1em 1em 1.5em 1em;
}

div.details {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

div.pages {
  text-align: center;

  button[type="submit"],
  div.gap {
    @include aspect-ratio(1, 1);
    width: 9em;
    max-width: 25vw;
    padding: 0;
    margin: 2vmin;
  }

  div.gap {
    display: inline-block;
  }

  button[type="submit"] {
    border: 1px solid #acbfff;
    border-radius: 0.1cm;
    background: transparent;
    color: #30425b;
  }

  button[type="submit"].disabled {
    border-color: $disabledgrey;
    color: $disabledgrey;

    & > div::before {
      opacity: 0.4;
    }
  }

  button[type="submit"]:not(.disabled):hover {
    border-color: black;
  }

  button[type="submit"] > div {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  button[type="submit"] > div::before {
    content: "";
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    height: 2em;
    width: 4em;
  }

  button[type="submit"] > div > span {
    width: 100%;
  }

  #button_scan > div::before {
    background-image: url("scan.svg");
  }

  #button_presend > div::before {
    background-image: url("presend.svg");
  }

  #button_receive > div::before {
    background-image: url("receive.svg");
  }

  #button_deposit > div::before {
    background-image: url("deposit.svg");
  }

  #button_withdraw > div::before {
    background-image: url("withdraw.svg");
  }

  #button_list > div::before {
    background-image: url("list.svg");
  }

  #button_refresh > div::before {
    background-image: url("refresh.svg");
  }

  #button_settings > div::before {
    background-image: url("settings.svg");
  }

  #button_logout > div::before {
    background-image: url("logout.svg");
  }
}

div.header {
  background: #191919;
  height: 2.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 0;
  width: 100%;
  max-width: $colmax;

  button[type="submit"] {
    height: 2em;
    padding: 0;
    margin: 0 1em;
    background: transparent;
    border: 1px solid transparent;
    color: $light_green;
  }

  button[type="submit"]:hover {
    border-color: #bbbbbb;
    border-radius: 0.1cm;
  }

  button[type="submit"] > div {
    display: flex;
    align-items: center;
  }

  button[type="submit"] > div > span {
    vertical-align: middle;
    justify-self: center;
    padding: 0 1em;
  }

  button[type="submit"] > div::before {
    content: "";
    height: 2em;
    width: 2em;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("left.svg");
  }

  img#icon {
    height: 1.5em;
    padding: 0.25em;
  }
}

.header + * {
  margin-top: 2.5em;
}

div.price {
  text-align: right;
  padding: 0.5em;
}

span.amount div.price {
  display: inline;
}

div#errors,
div#warnings,
div#messages,
div#notes {
  padding-left: 0.5em;
  padding-right: 0.5em;
  text-align: center;
}

div#errors {
  color: $bad;
}

div#warnings {
  color: $ok;
}

div#errors:not(:empty)::before {
  content: "×";
  display: inline-block;
  text-align: center;
  width: 1em;
}

div#messages {
  color: $good;
}

div#notes {
  color: #191919;
}

div.submits button[type="submit"],
div.submits a.button,
#button_noauth_login {
  border: 1px solid $dark_green;
  border-radius: 0.1cm;
  width: 100%;
  min-height: 3em;
  margin: 1em 0;
  background: white;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  &:hover {
    background: $light_green;
  }

  & > div {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
  }

  & > div > span {
    vertical-align: middle;
    line-height: 1em;
    grid-column: 2;
    justify-self: center;
  }

  & > div::before {
    content: "";
    height: 2em;
    width: 2em;
    grid-column: 1;
    justify-self: start;
    background-repeat: no-repeat;
    background-position: center;
  }
}

div.submits {
  * {
    grid-column: 2;
  }

  #button_account_new > div::before {
    background-image: url("new_account.svg");
  }

  #button_account_login > div::before {
    background-image: url("login.svg");
  }

  #button_download > div::before {
    background-image: url("download.svg");
  }
}

div.tabs {
  display: flex;

  button {
    flex-grow: 1;
    flex-basis: 0;
    border: 1px solid lightgray;
    background: transparent;
    border-radius: 0.1cm;
    padding: 0.1em;
    margin: 0.2em;
    font-variant: all-small-caps;
  }

  .active {
    border-color: gray;
  }

  button:hover {
    border-color: black;
  }
}

div.table {
  cursor: pointer;
  padding: 1em 0.5em;
  display: grid;

  .zebra {
    background: lightgray;
  }

  .col1,
  .col2,
  .col3,
  .col-details {
    padding: 1em;

    * {
      padding: 0;
    }
  }

  .compact {
    &.col1,
    &.col2 {
      padding-right: 0.3em;
    }
    &.col2,
    &.col3 {
      padding-left: 0.3em;
    }
  }

  .col1 {
    grid-column: 1;
    white-space: nowrap;
  }

  .col2 {
    grid-column: 2;

    .dec,
    .dect {
      color: $bad;
      padding-right: 0.8em;
    }

    .inc,
    .inct {
      color: $good;
      padding-left: 0.8em;
    }

    .inct,
    .dect {
      padding-left: 0.8em;
      padding-right: 0.8em;
    }
  }

  .col2.uncompact {
    grid-column: 2 / span 2;
  }

  .col3 {
    grid-column: 3;
  }

  .col-details.compact {
    display: none;
  }

  .col3.compact {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .col3.uncompact,
  .col-details {
    display: initial;
    grid-column: 1 / span 3;
    word-break: break-word;
  }

  div.actions {
    display: none;
    grid-column: 1 / span 3;
    justify-content: flex-end;

    button {
      background: none;
      border: 1px solid transparent;
      border-radius: 0.1cm;
      padding: 1em;
    }

    button:hover {
      border-color: black;
    }
  }

  div.actions.uncompact {
    display: flex;
  }
}

div.body > a {
  text-align: center;
  margin: 1em 0;
  display: block;
}

#button_noauth_login {
  margin: 1em auto;
  width: max-content;
  height: max-content;
}

.artframe {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  flex-grow: 1;
  justify-content: center;

  img {
    width: 100%;
    max-height: 19vh;
    padding: 1em;
    box-sizing: border-box;
  }
}

.help {
  display: none;
  color: $mid_purple;
  grid-column-start: 1;
  grid-column-end: 4;
  font-size: 0.9em;
  padding-bottom: 1em;
}

.show_help {
  .help {
    display: inline;
  }
}
