<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>micromicro</title>
		<link href="app.css?{{bust}}" rel="stylesheet">
	</head>
	<body>
		<div id="root"></div>
	</body>
<script src="app.js?{{bust}}" module></script>
</html>
