{% extends 'base.html' %}
{% block title %}Read{% endblock %}
{% block body %}
<img alt="Fine art" src="/help/art1.svg">
<div class="help_toc">
	<div>
		<h2>General Topics</h2>
		<ul>
			<li><a href="/help/what_are_microtransactions.html?{{bust}}">What are microtransactions?</a></li>
			<li><a href="/help/getting_started.html?{{bust}}">Getting started</a></li>
			<li><a href="/help/parts_of_the_application.html?{{bust}}">Parts of the application</a></li>
			<li><a href="/help/project_goals.html?{{bust}}">Project goals</a></li>
			<li><a href="/help/why_litecoin.html?{{bust}}">Why Litecoin</a></li>
		</ul>
		<h2>Specifications</h2>
		<ul>
			<li><a href="/help/fees.html?{{bust}}">Fee structure</a></li>
			<li><a href="/help/finance.html?{{bust}}">Financial data</a></li>
		</ul>
	</div>
	<div>
		<h2>Usage</h2>
		<ul>
			<li><a href="/help/getting_started.html?{{bust}}">Set up an account</a></li>
			<li><a href="/help/basics_deposit_money.html?{{bust}}">Deposit money</a></li>
			<li><a href="/help/basics_withdraw_money.html?{{bust}}">Withdraw money</a></li>
			<li><a href="/help/basics_send_money.html?{{bust}}">Send money</a></li>
			<li><a href="/help/basics_receive_money.html?{{bust}}">Receive money</a></li>
		</ul>
		<h2>Guides</h2>
		<ul>
			<li><a href="/help/cases_security_best_practices.html?{{bust}}">Security best practices</a></li>
			<li><a href="/help/cases_accept_donations.html?{{bust}}">Accept donations on your website</a></li>
			<li><a href="/help/cases_add_iphone_home.html?{{bust}}">Add to your iPhone home screen</a></li>
			<li><a href="/help/cases_create_a_digital_asset_store.html?{{bust}}">Create a digital asset store</a></li>
		</ul>
	</div>
</div>
{% endblock %}
