{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block body %}
<div class="intro"><span class="brand">micromicro</span> is a microtransaction service that's</div>
<h1>Lean</h1>
<ul>
	<li><script type="application/json" class="extra">{"type": "price", "key": "transaction", "wrap": "h2"}</script> <h2>per transaction</h2></li>
	<li><h2>Minimal fees</h2>Fees are <a href="/help/fees.html?{{bust}}">dynamically calculated</a> based on costs and usage</li>
</ul>
<h1>Easy</h1>
<ul>
	<li><h2>Pay by QR</h2> Pay with your phone, never leave the page you're on</li>
	<li><h2>Quick start</h2> Set up an account in seconds</li>
	<li><h2>Versatile</h2> Add a payment address to websites, text messages, posters</li>
</ul>
<h1>Open</h1>
<ul>
	<li><h2>Financial data</h2> published <a href="/help/finance.html?{{bust}}">in real time</a></li>
	<li><h2>Website source code</h2> available <a href="https://gitlab.com/micromicro/micromicro.cash">under the BSD licence</a></li>
</ul>
<div id="price_notes"></div>
{% endblock %}
{% block scripts %}
<script src="index.js?{{bust}}" module></script>
{% endblock %}