$light_green: #d8f4b6;
$dark_green: #305b3e;
$bad: #bb456b;
$ok: #a76417;
$good: #188436;
$sub_purple: #a9135d;
//$sub_purple: #441279;
$purple2: #3a2144;
$light_purple: #e0dcf3;
$mid_purple: #635990;
$colmax: 16cm;
$split: 20cm;
$lightbg: #e2eeff;
$disabledgrey: #cccccc;

@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  > div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

* {
  font-family: sans-serif;
  font-size: 16px;
  flex-shrink: 0;
}

code,
pre {
  font-family: monospace;
}

html {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  height: 100%;
}

a {
  text-decoration: none;
  color: $dark_green;
}

a:visited {
  color: $dark_green;
}

p {
  margin: 0.5em 0;
}

ul {
  padding-left: 1.5em;

  li {
    list-style-type: none;
    clear: both;

    p:first-of-type {
      display: inline-block;
    }

    & > *:first-child {
      margin-top: 0;
    }
  }

  li::before {
    content: "•";
    display: inline-block;
    width: 1em;
    margin-left: -1em;
    text-align: center;
    font-size: 1.3em;
    color: $sub_purple;
    vertical-align: top;
  }
}

span.brand {
  color: $sub_purple;
  text-transform: uppercase;
  font-size: 0.85em;
}

.body {
  flex-grow: 5;
  display: flex;
  flex-direction: column;
}

.foot {
  flex-grow: 1;

  .copyright {
  }

  a {
    margin: 1em;
  }
}

.body,
.foot {
  padding: 0 0.5cm;
}

img.font {
  height: 0.8em;
}
