@import "intermediate/_shared.scss";

div.title,
div.subtitle {
  display: flex;
}

div.title {
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

div.staticpages {
  display: flex;
}

div.foot div.staticpages {
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

code {
  color: $mid_purple;
}

// Mobilish
@media (max-width: $split) {
  .outer {
    max-width: $colmax;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  div.subtitle img {
    margin-top: 1em;
  }

  div.help_toc {
    display: block;
  }

  body.index {
    .intro {
      padding: 1.2em 1.2em 0 1.2em;
    }

    #price_notes {
      padding-top: 2em;
    }
  }
}

// Desktopish
@media not all and (max-width: $split) {
  div.outer {
    display: grid;
    max-width: 30cm;
    margin: 0 auto;
    min-height: 100%;
    grid-template-rows: minmax(100vh, max-content) auto;
    grid-template-columns: auto 1fr;
  }

  div.title {
    grid-column: 1;
    top: 0;
    position: sticky;
    max-height: 100vh;
  }

  body.index {
    .intro {
      padding: 1.5em;
      span.brand {
        font-size: 1.7em;
      }
    }
  }

  .price_notes {
    padding-top: 3em;
  }

  .finance_notes {
    padding-top: 3em;
  }

  div.body {
    grid-column: 2;
    align-self: center;
    padding: 2em 0;
  }

  div.foot {
    grid-column: 1 / span 2;
  }
}

div.subtitle {
  flex-direction: column;
  align-items: center;
  justify-content: center;

  img {
    width: 60%;
  }

  div.staticpages {
    flex-direction: row;
    align-content: center;
    justify-content: center;

    a {
      margin: 1em;
    }

    a.selected {
      color: black;
    }
  }
}

.toc {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(auto-fill, 10em);
  justify-content: center;
  padding-top: 7%;

  a {
    color: $purple2;
    margin: 0.2em;

    &:hover {
      color: $dark_green;
    }
  }
}

.body > div {
  //margin: 0.5cm 0;
}

body.index {
  #bg1,
  #bg2 {
    position: fixed;
    width: 100%;
    height: 100%;
    background-repeat-x: no-repeat;
    z-index: -999;
  }

  #bg1 {
    background-image: url("bg_b.png");
    animation: loader 250s steps(15000) infinite;
  }
  #bg2 {
    background-image: url("bg_a.png");
    animation: loader 180s steps(6000) infinite;
  }

  @keyframes loader {
    from {
      background-position-y: 0;
    }
    to {
      background-position-y: -1700px;
    }
  }
}

body.index .body {
  .intro {
    text-align: center;
    font-size: 1.8em;
  }

  h1 {
    font-size: 2.5em;
  }

  h2 {
    font-size: 1.2em;
    display: inline;
    margin-right: 1em;
  }

  ul {
    margin: 0;
  }

  li {
    margin: 1em 0;

    &::before {
      content: none;
    }
  }
}

body.updates .body,
body.update_page .body {
  h1 {
    font-size: 1.2em;
  }

  h2 {
    border-bottom: 1px solid black;
    padding-bottom: 1em;
  }
}

body.api .body {
  div.apibody {
    margin: 0 0;

    & > div > p {
      margin: 1em;
    }
  }

  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.3em;
    background-color: $lightbg;
    padding: 0.2em;
    margin-top: 2.5em;
    margin-bottom: 1.2em;
    border-radius: 0.3em;
  }

  td:first-child {
    padding: 0.5em 1em;
    vertical-align: top;
    font-family: monospace;
  }

  table {
    width: 100%;
  }

  span.valid {
    display: inline-block;
    border: 1px solid $light_purple;
    border-radius: 0.5em;
    padding: 0.2em;
    margin: 0.2em;
  }
  td + td > span.valid {
    float: right;
  }

  div.response {
    border-left: 3px solid $lightbg;
    padding-left: 0.8em;
    margin-left: 0.8em;
  }

  span {
  }
}

.price {
  display: inline-block;

  .sel {
    flex-grow: 1;
    display: flex;
    align-self: center;
    flex-direction: row;
    justify-content: center;

    div {
      min-width: 3em;
      text-align: center;
      margin: 0.25em;

      &.selected {
        border-bottom: 1px solid gray;
      }
    }
  }

  .value {
    text-align: center;
  }
}

div.updatebody {
  margin: 2em 0;
}

a.shortupdate {
  display: block;
  margin: 0.7em 0;

  * {
    display: inline !important;
    border: none !important;
    padding: 0 !important;
  }

  &,
  &:visited {
    color: black;
  }
}

.update {
  .date {
    float: right;
  }
}

.update,
.help_article {
  table {
    border-collapse: collapse;

    h2 {
      border: none;
      font-size: 2em;
    }

    th {
      text-align: left;
    }

    tbody tr {
      &:nth-child(odd) {
        background-color: $lightbg;
      }
    }

    td {
      padding: 0.5em;
    }
  }
}

.articlebody {
  p img:not(.font):not(.inline) {
    border: 1px solid #bbbbbb;
    max-width: 90%;
    display: block;
    margin: 0 auto;

    &:not(.big) {
      max-height: 8cm;
    }
  }

  h2 {
    margin: 2em 0;
    font-size: 1.2em;
  }
}

.foot {
  padding: 10% 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.help_toc {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-flow: row;
}

.help_article {
  h1 {
    font-size: 2em;
    & * {
      font-size: inherit;
    }
  }

  h3 {
    font-size: 1.5em;
    & * {
      font-size: inherit;
    }
  }
}
